body, html {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
}

#app{
	width: 100%;
	height: 100%;
}


.__input {
	border: 1px solid transparent;
	width: 200px;
	position: absolute;
	outline:none;
	background-color: transparent;
	padding: 0px;
	margin: 0px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
}

.__input:focus{
	outline: none;
}

.__video {
	border: 1px solid transparent;
	background-origin: content-box;
	background-image: linear-gradient( 135deg, #90F7EC 10%, #32CCBC 100%);
}

/* .__input:focus {
	border: 1px dashed black;
	cursor: move;
} */

.__fadeIn {
	transform: 10px;
	opacity: 1 !important;
	
}

.__img-wrap {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	width: 20%;
	height: 20%;
	background-color: transparent;
	border: 1px solid transparent;
	background-origin: content-box;
}

.select__dom{
	border: 1px dashed deeppink;
}
