body, html {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
}

#app{
	width: 100%;
	height: 100%;
}


.__input {
	border: 1px solid transparent;
	width: 200px;
	position: absolute;
	outline:none;
	background-color: transparent;
	padding: 0px;
	margin: 0px;
}

/* .__input:focus {
	border: 1px dashed black;
	cursor: move;
} */

.__fadeIn {
	transform: 10px;
	opacity: 1 !important;
	
}

.__img-wrap {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	width: 200px;
	height: 120px;
	background-color: transparent;
	border: 1px solid transparent;
}

.select__dom{
	border: 1px dashed deeppink;
}
